@import 'variables.css.scss';
/* custom styles */
h1, h2 {
  font-family: $deco-font;
}
#header {
  background-image:url('trackpano1.jpg');
  background-repeat:no-repeat;
  background-position-x:50%;
  background-position-y:50%;
  color:$white;

  h3, p {
    text-shadow:1px 1px 1px rgba(0,0,0,.7);
  }
  a {
    color:$white;
  }
}

#logo {
  margin-top:75px;
}

#header-contact h3#phone, #header-contact h3#email, #header-contact p {
  text-align:center;
}

h3#email {
  font-size:18px;
}

h3#phone {
  font-size:28px;
}



#nav-section {
  border-top:1px solid $trans-white;
  @extend .black-gradient;
  box-shadow:1px 1px 4px $trans-black;
  text-transform:uppercase;
  font-family:$deco-font;
  font-size:25px;

  a {
    color:$trans-white-7;
    &:hover{
      color:$white;
      }
    }

}

#main-content {
  margin-top:20px;
}

#home-buckets {
  margin-top:20px;
  h2 {
    margin-top:0px;
  }
  
}

#left-sidebar {
  .btn {
    margin:10px 0;
  }

}



#footer {
  margin-top:40px;
  padding:20px;
  background-color:rgba(0,0,0,.05);
  min-height:15vh;
  @include trans-black-border(.1);
  color:$trans-black;
}

